**Create Bucket**

In [25]:
import boto3

qub = boto3.Session(region_name='us-east-1')
s3_client = boto3.client("s3")
bucket_name = "qub0013"
s3_client.create_bucket(Bucket= bucket_name)

c:\Users\vivek\AppData\Local\Programs\Python\Python39\lib\site-packages\boto3\compat.py:84: PythonDeprecationWarning: Boto3 will no longer support Python 3.9 starting April 29, 2026. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.10 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

{'ResponseMetadata': {'RequestId': 'KQKT4MQ4X4AXYX4V',
  'HostId': '0e9PskWai4SvOwyVKWtj4WHN5JVZ9rVNDET7gXt29iT1IYnu+WCGLvIMjypZ5DMneYrw765BiQk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '0e9PskWai4SvOwyVKWtj4WHN5JVZ9rVNDET7gXt29iT1IYnu+WCGLvIMjypZ5DMneYrw765BiQk=',
   'x-amz-request-id': 'KQKT4MQ4X4AXYX4V',
   'date': 'Tue, 25 Nov 2025 04:39:38 GMT',
   'location': '/qub0013',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Location': '/qub0013'}

In [27]:

session = boto3.Session(region_name='us-east-1')
s3_client = session.client("s3")

bucket_name = "qub0013"
file_path = "C:\\Users\\vivek\\qubryx\\QUB\\s3\\data2.xlsx"
folder_name = "demo/"

s3_client.put_object(Bucket=bucket_name, Key=folder_name)

object = "demo/data2.xlsx"

s3_client.upload_file(file_path, bucket_name, object)

In [28]:
import boto3
import pandas as pd
import io

session = boto3.Session(region_name='us-east-1')
s3_client = session.client("s3")

bucket_name = "qub0013"
obj = s3_client.get_object(Bucket=bucket_name, Key='demo/data2.xlsx')
body_bytes = obj['Body'].read()                
xls = pd.ExcelFile(io.BytesIO(body_bytes))   

def exl_to_csv(xls):
    for sheet_name in xls.sheet_names:
        df = pd.read_excel(xls, sheet_name=sheet_name)
        df.to_csv(f'{sheet_name}.csv', index=False)
    return df
exl_to_csv(xls)

,product_id,product_category,seller_id,seller_zipcode,seller_city,seller_state,price
0,P001,Smartphones,S007,615795.0,Bangalore,Karnataka,1359
1,P002,Home & Kitchen,S015,676820.0,Thiruvananthapuram,Kerala,6764
2,P003,Fashion,S019,637194.0,Mumbai,Maharashtra,22461
3,P004,Laptops & Computers,S024,644131.0,Kozhikode,Kerala,16522
4,P005,Accessories,S003,667221.0,Chennai,Tamil Nadu,1268
5,P006,Beauty & Personal Care,S024,662955.0,New Delhi,Delhi,2932
6,P007,Books,S021,NaN,Visakhapatnam,Andhra Pradesh,18067
7,P008,Sports & Outdoors,S012,685305.0,Coimbatore,Tamil Nadu,29192
8,P009,Toys & Games,S012,693016.0,Hyderabad,Telangana,41933
9,P010,Home Appliances,S010,618431.0,kochi,kerala,3246
10,P011,Furniture,S016,0.0,BANGALORE,KA,688
11,P012,Shoes,S015,635773.0,bangalore,NaN,2398
12,P013,Watches,S023,666803.0,delhi,Kerala,NaN
13,P014,Headphones,S003,NaN,New Delhi,Karnataka,4055
14,P015,Gaming,S019,641606.0,Kochi,Kerala,31239
15,P016,cameras,S009,680038.0,Bangalore,Maharashtra,22276
16,P017,AUDIO,S004,608792.0,Thiruvananthapuram,Kerala,₹43823
17,P018,clothing,S014,673969.0,Mumbai,Tamil Nadu,43500
18,P019,Jewelry,S009,623897.0,Kozhikode,Delhi,3111
19,P020,Gaming Consoles,S002,623483.0,Chennai,Andhra Pradesh,49054
20,P021,Electronics,S008,NaN,New Delhi,Tamil Nadu,45473
21,P022,Smartphones,S003,0.0,Visakhapatnam,Telangana,15040
22,P023,Home & Kitchen,S017,692067.0,Coimbatore,kerala,2084
23,P024,Fashion,S008,689475.0,Hyderabad,KA,19956
24,P025,Laptops & Computers,S006,678953.0,kochi,NaN,41256
25,P026,Accessories,S018,672409.0,BANGALORE,Kerala,NaN
26,P027,Beauty & Personal Care,S012,665697.0,bangalore,Karnataka,37564
27,P028,Books,S004,NaN,delhi,Kerala,33105
28,P029,Sports & Outdoors,S016,611534.0,New Delhi,Maharashtra,29626
29,P030,Toys & Games,S014,691387.0,Kochi,Kerala,1515
30,P031,Home Appliances,S008,689812.0,Bangalore,Tamil Nadu,23746
31,P032,Furniture,S013,674065.0,Thiruvananthapuram,Delhi,17761
32,P033,Shoes,S021,0.0,Mumbai,Andhra Pradesh,21770
33,P034,Watches,S013,638044.0,Kozhikode,Tamil Nadu,₹49716
34,P035,Headphones,S007,NaN,Chennai,Telangana,3067
35,P036,Gaming,S024,662592.0,New Delhi,kerala,2526
36,P037,cameras,S008,648190.0,Visakhapatnam,KA,5757
37,P038,AUDIO,S019,639504.0,Coimbatore,NaN,33658
38,P039,clothing,S003,661858.0,Hyderabad,Kerala,NaN
39,P040,Jewelry,S001,612666.0,kochi,Karnataka,39159
40,P041,Gaming Consoles,S010,626854.0,BANGALORE,Kerala,39451
41,P042,Electronics,S007,NaN,bangalore,Maharashtra,8891
42,P043,Smartphones,S008,678603.0,delhi,Kerala,48532
43,P044,Home & Kitchen,S001,0.0,New Delhi,Tamil Nadu,24098
44,P045,Fashion,S023,635222.0,Kochi,Delhi,12336
45,P046,Laptops & Computers,S024,696354.0,Bangalore,Andhra Pradesh,19614
46,P047,Accessories,S008,610965.0,Thiruvananthapuram,Tamil Nadu,25037
47,P048,Beauty & Personal Care,S003,670592.0,Mumbai,Telangana,32981
48,P049,Books,S005,NaN,Kozhikode,kerala,8609
49,P050,Sports & Outdoors,S014,627266.0,Chennai,KA,17911

In [ ]:
dc=pd.read_csv('C:\\Users\\vivek\\qubryx\\QUB\\s3\\customer.csv')
do=pd.read_csv('C:\\Users\\vivek\\qubryx\\QUB\\s3\\order.csv')
dp=pd.read_csv('C:\\Users\\vivek\\qubryx\\QUB\\s3\\product.csv')

def cleaning_missing_values(dc,do,dp):
    dc.dropna(inplace=True)
    do.dropna(inplace=True)
    dp.dropna(inplace=True)
    return dc, do, dp
dc, do, dp = cleaning_missing_values(dc, do, dp)
print(dc.info())
print(do.info())


dp['price'] = pd.to_numeric(dp['price'], errors='coerce')
print(dp.info())

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 1 to 49
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         30 non-null     object
 1   customer_unique_id  30 non-null     object
 2   customer_zipcode    30 non-null     float64
 3   customer_city       30 non-null     object
 4   customer_state      30 non-null     object
dtypes: float64(1), object(4)
memory usage: 1.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 0 to 82
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       68 non-null     object
 1   order_item_id  68 non-null     object
 2   customer_id    68 non-null     object
 3   product_id     68 non-null     object
 4   price          68 non-null     int64
 5   shipping_cost  68 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 0 to 49
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        37 non-null     object
 1   product_category  37 non-null     object
 2   seller_id         37 non-null     object
 3   seller_zipcode    37 non-null     float64
 4   seller_city       37 non-null     object
 5   seller_state      37 non-null     object
 6   price             35 non-null     float64
dtypes: float64(2), object(5)
memory usage: 2.3+ KB
None

In [42]:
def summary_statistics(dc, do, dp):
    stats = {}
    stats['customer'] = dc.describe(include='all')
    stats['order'] = do.describe(include='all')
    stats['product'] = dp.describe(include='all')

    combined_stats = pd.concat(stats, axis=1)
    combined_stats.to_csv('summary_statistics.csv')

    print(combined_stats)
    return combined_stats
summary_statistics(dc, do, dp)

          customer                                                    \
       customer_id customer_unique_id customer_zipcode customer_city
count           30                 30        30.000000            30
unique          27                 27              NaN            19
top           C012           CUST_012              NaN    coimbatore
freq             2                  2              NaN             3
mean           NaN                NaN    583989.300000           NaN
std            NaN                NaN    183771.247973           NaN
min            NaN                NaN    110018.000000           NaN
25%            NaN                NaN    580301.000000           NaN
50%            NaN                NaN    682028.500000           NaN
75%            NaN                NaN    688059.250000           NaN
max            NaN                NaN    695095.000000           NaN

                         order                                       \
       customer_state order_id order_item_id customer_id product_id
count              30       68            68          68         68
unique              9       68            68          38         40
top            Kerala   ORD001         OI001        C042       P033
freq               16        1             1           4          3
mean              NaN      NaN           NaN         NaN        NaN
std               NaN      NaN           NaN         NaN        NaN
min               NaN      NaN           NaN         NaN        NaN
25%               NaN      NaN           NaN         NaN        NaN
50%               NaN      NaN           NaN         NaN        NaN
75%               NaN      NaN           NaN         NaN        NaN
max               NaN      NaN           NaN         NaN        NaN

                                      product                             \
               price shipping_cost product_id product_category seller_id
count      68.000000     68.000000         37               37        37
unique           NaN           NaN         37               18        18
top              NaN           NaN       P001      Smartphones      S008
freq             NaN           NaN          1                3         5
mean     4087.235294     48.529412        NaN              NaN       NaN
std      5288.752623     38.362556        NaN              NaN       NaN
min       199.000000      0.000000        NaN              NaN       NaN
25%       499.000000      0.000000        NaN              NaN       NaN
50%      1299.000000     50.000000        NaN              NaN       NaN
75%      4749.000000     75.000000        NaN              NaN       NaN
max     15999.000000    100.000000        NaN              NaN       NaN


       seller_zipcode seller_city seller_state         price
count       37.000000          37           37     35.000000
unique            NaN          14            9           NaN
top               NaN   Bangalore       Kerala           NaN
freq              NaN           4            7           NaN
mean    583082.108108         NaN          NaN  20343.114286
std     207659.199901         NaN          NaN  15013.186578
min          0.000000         NaN          NaN    688.000000
25%     618431.000000         NaN          NaN   4501.500000
50%     644131.000000         NaN          NaN  19956.000000
75%     676820.000000         NaN          NaN  30432.500000
max     696354.000000         NaN          NaN  49054.000000

          customer                                                    \
       customer_id customer_unique_id customer_zipcode customer_city
count           30                 30        30.000000            30
unique          27                 27              NaN            19
top           C012           CUST_012              NaN    coimbatore
freq             2                  2              NaN             3
mean           NaN                NaN    583989.300000           NaN
std            NaN                NaN    183771.247973           NaN
min            NaN                NaN    110018.000000           NaN
25%            NaN                NaN    580301.000000           NaN
50%            NaN                NaN    682028.500000           NaN
75%            NaN                NaN    688059.250000           NaN
max            NaN                NaN    695095.000000           NaN

                         order                                       \
       customer_state order_id order_item_id customer_id product_id
count              30       68            68          68         68
unique              9       68            68          38         40
top            Kerala   ORD001         OI001        C042       P033
freq               16        1             1           4          3
mean              NaN      NaN           NaN         NaN        NaN
std               NaN      NaN           NaN         NaN        NaN
min               NaN      NaN           NaN         NaN        NaN
25%               NaN      NaN           NaN         NaN        NaN
50%               NaN      NaN           NaN         NaN        NaN
75%               NaN      NaN           NaN         NaN        NaN
max               NaN      NaN           NaN         NaN        NaN

                                      product                             \
               price shipping_cost product_id product_category seller_id
count      68.000000     68.000000         37               37        37
unique           NaN           NaN         37               18        18
top              NaN           NaN       P001      Smartphones      S008
freq             NaN           NaN          1                3         5
mean     4087.235294     48.529412        NaN              NaN       NaN
std      5288.752623     38.362556        NaN              NaN       NaN
min       199.000000      0.000000        NaN              NaN       NaN
25%       499.000000      0.000000        NaN              NaN       NaN
50%      1299.000000     50.000000        NaN              NaN       NaN
75%      4749.000000     75.000000        NaN              NaN       NaN
max     15999.000000    100.000000        NaN              NaN       NaN


       seller_zipcode seller_city seller_state         price
count       37.000000          37           37     35.000000
unique            NaN          14            9           NaN
top               NaN   Bangalore       Kerala           NaN
freq              NaN           4            7           NaN
mean    583082.108108         NaN          NaN  20343.114286
std     207659.199901         NaN          NaN  15013.186578
min          0.000000         NaN          NaN    688.000000
25%     618431.000000         NaN          NaN   4501.500000
50%     644131.000000         NaN          NaN  19956.000000
75%     676820.000000         NaN          NaN  30432.500000
max     696354.000000         NaN          NaN  49054.000000

In [50]:
def group_by_category(dp):
    category_summary = dp.groupby('product_category').agg({
        'price': ['sum'],
    }).round(2)

    category_summary.columns = ['price_total']
    category_summary.to_csv('category_summary.csv')

    print(category_summary)
    return category_summary

group_by_category(dp)

                        price_total
product_category
AUDIO                           0.0
Accessories                 26305.0
Beauty & Personal Care      73477.0
Fashion                     54753.0
Furniture                   18449.0
Gaming                      33765.0
Gaming Consoles             88505.0
Home & Kitchen              32946.0
Home Appliances             26992.0
Jewelry                     42270.0
Laptops & Computers         36136.0
Shoes                       21770.0
Smartphones                 64931.0
Sports & Outdoors           76729.0
Toys & Games                43448.0
Watches                         0.0
cameras                     28033.0
clothing                    43500.0

                        price_total
product_category
AUDIO                           0.0
Accessories                 26305.0
Beauty & Personal Care      73477.0
Fashion                     54753.0
Furniture                   18449.0
Gaming                      33765.0
Gaming Consoles             88505.0
Home & Kitchen              32946.0
Home Appliances             26992.0
Jewelry                     42270.0
Laptops & Computers         36136.0
Shoes                       21770.0
Smartphones                 64931.0
Sports & Outdoors           76729.0
Toys & Games                43448.0
Watches                         0.0
cameras                     28033.0
clothing                    43500.0

In [56]:
def merging_data(dc, do, dp):
    do = do.rename(columns={'price': 'order_price'})
    dp = dp.rename(columns={'price': 'product_price'})
    
    merged_data = do.merge(dc, on='customer_id', how='inner')
    merged_data = merged_data.merge(dp, on='product_id', how='inner')
    
    merged_data.to_csv('merged_data.csv', index=False)
    print(merged_data.head())
    return merged_data

merging_data(dc, do, dp)

  order_id order_item_id customer_id product_id  order_price  shipping_cost  \
0   ORD001         OI001        C003       P033          899           75.0
1   ORD014         OI014        C003       P033          199            0.0
2   ORD002         OI002        C041       P036         6999           75.0
3   ORD019          oi19        C041       P002        15999           75.0
4   ORD029         OI029        C020       P011         2499            0.0

  customer_unique_id  customer_zipcode       customer_city customer_state  \
0           CUST_003          695092.0  Thiruvananthapuram         Kerala
1           CUST_003          695092.0  Thiruvananthapuram         Kerala
2           CUST_041          695090.0  THIRUVANANTHAPURAM         Kerala
3           CUST_041          695090.0  THIRUVANANTHAPURAM         Kerala
4           CUST_020          641082.0          coimbatore     Tamil Nadu

  product_category seller_id  seller_zipcode         seller_city  \
0            Shoes      S021             0.0              Mumbai
1            Shoes      S021             0.0              Mumbai
2           Gaming      S024        662592.0           New Delhi
3   Home & Kitchen      S015        676820.0  Thiruvananthapuram
4        Furniture      S016             0.0           BANGALORE

     seller_state  product_price
0  Andhra Pradesh        21770.0
1  Andhra Pradesh        21770.0
2          kerala         2526.0
3          Kerala         6764.0
4              KA          688.0

,order_id,order_item_id,customer_id,product_id,order_price,shipping_cost,customer_unique_id,customer_zipcode,customer_city,customer_state,product_category,seller_id,seller_zipcode,seller_city,seller_state,product_price
0,ORD001,OI001,C003,P033,899,75.0,CUST_003,695092.0,Thiruvananthapuram,Kerala,Shoes,S021,0.0,Mumbai,Andhra Pradesh,21770.0
1,ORD014,OI014,C003,P033,199,0.0,CUST_003,695092.0,Thiruvananthapuram,Kerala,Shoes,S021,0.0,Mumbai,Andhra Pradesh,21770.0
2,ORD002,OI002,C041,P036,6999,75.0,CUST_041,695090.0,THIRUVANANTHAPURAM,Kerala,Gaming,S024,662592.0,New Delhi,kerala,2526.0
3,ORD019,oi19,C041,P002,15999,75.0,CUST_041,695090.0,THIRUVANANTHAPURAM,Kerala,Home & Kitchen,S015,676820.0,Thiruvananthapuram,Kerala,6764.0
4,ORD029,OI029,C020,P011,2499,0.0,CUST_020,641082.0,coimbatore,Tamil Nadu,Furniture,S016,0.0,BANGALORE,KA,688.0
5,ORD060,OI060,C020,P023,2499,100.0,CUST_020,641082.0,coimbatore,Tamil Nadu,Home & Kitchen,S017,692067.0,Coimbatore,kerala,2084.0
6,ORD041,oi41,C002,P004,1299,75.0,CUST_002,688045.0,ALAPPUZHA,Kerala,Laptops & Computers,S024,644131.0,Kozhikode,Kerala,16522.0
7,ORD045,OI045,C002,P019,199,50.0,CUST_002,688045.0,ALAPPUZHA,Kerala,Jewelry,S009,623897.0,Kozhikode,Delhi,3111.0
8,ORD012,OI012,C012,P018,6999,0.0,CUST_012,688063.0,alappuzha,Kerala,clothing,S014,673969.0,Mumbai,Tamil Nadu,43500.0
9,ORD012,OI012,C012,P018,6999,0.0,CUST_012,688063.0,alappuzha,Kerala,clothing,S014,673969.0,Mumbai,Tamil Nadu,43500.0
10,ORD038,OI038,C012,P020,899,75.0,CUST_012,688063.0,alappuzha,Kerala,Gaming Consoles,S002,623483.0,Chennai,Andhra Pradesh,49054.0
11,ORD038,OI038,C012,P020,899,75.0,CUST_012,688063.0,alappuzha,Kerala,Gaming Consoles,S002,623483.0,Chennai,Andhra Pradesh,49054.0
12,ORD025,OI025,C040,P044,499,100.0,CUST_040,682033.0,Kochi,Kerala,Home & Kitchen,S001,0.0,New Delhi,Tamil Nadu,24098.0
13,ORD080,OI080,C030,P044,12999,75.0,CUST_030,110018.0,new delhi,Delhi,Home & Kitchen,S001,0.0,New Delhi,Tamil Nadu,24098.0
14,ORD037,OI037,C040,P010,499,100.0,CUST_040,682033.0,Kochi,Kerala,Home Appliances,S010,618431.0,kochi,kerala,3246.0
15,ORD059,OI059,C042,P005,15999,100.0,CUST_042,682080.0,KOCHI,Kerala,Accessories,S003,667221.0,Chennai,Tamil Nadu,1268.0
16,ORD059,OI059,C042,P005,15999,100.0,CUST_042,682080.0,KOCHI,Kerala,Accessories,S003,667221.0,Chennai,Tamil Nadu,1268.0
17,ORD063,OI063,C042,P048,499,0.0,CUST_042,682080.0,KOCHI,Kerala,Beauty & Personal Care,S003,670592.0,Mumbai,Telangana,32981.0
18,ORD063,OI063,C042,P048,499,0.0,CUST_042,682080.0,KOCHI,Kerala,Beauty & Personal Care,S003,670592.0,Mumbai,Telangana,32981.0
19,ORD065,OI065,C042,P046,3999,75.0,CUST_042,682080.0,KOCHI,Kerala,Laptops & Computers,S024,696354.0,Bangalore,Andhra Pradesh,19614.0
20,ORD065,OI065,C042,P046,3999,75.0,CUST_042,682080.0,KOCHI,Kerala,Laptops & Computers,S024,696354.0,Bangalore,Andhra Pradesh,19614.0
21,ORD082,OI082,C036,P029,1299,75.0,CUST_036,110053.0,NEW DELHI,delhi,Sports & Outdoors,S016,611534.0,New Delhi,Maharashtra,29626.0
22,ORD055,OI055,C022,P009,1299,50.0,CUST_022,641093.0,coimbatore,Tamil Nadu,Toys & Games,S012,693016.0,Hyderabad,Telangana,41933.0
23,ORD066,OI066,C026,P047,2499,0.0,CUST_026,641048.0,coimbatore,Tamil Nadu,Accessories,S008,610965.0,Thiruvananthapuram,Tamil Nadu,25037.0

In [61]:
def csv_to_excel_multiple_sheets():

    with pd.ExcelWriter('cleaned_data.xlsx', engine='openpyxl') as writer:
        dc.to_excel(writer, sheet_name='customer', index=False)
        do.to_excel(writer, sheet_name='order', index=False)
        dp.to_excel(writer, sheet_name='product', index=False)
csv_to_excel_multiple_sheets()

In [63]:
def upload_to_s3(file_name, bucket, object_name):
    session = boto3.Session(region_name='us-east-1')
    s3_client = session.client("s3")
    
    file_path = f"C:\\Users\\vivek\\qubryx\\QUB\\s3\\{file_name}"
    
    s3_client.upload_file(file_path, bucket, object_name)
    print(f"Successfully uploaded {file_name} to s3://{bucket}/{object_name}")

upload_to_s3('cleaned_data.xlsx', 'qub0013', 'demo/cleaned_data.xlsx')

Successfully uploaded cleaned_data.xlsx to s3://qub0013/demo/cleaned_data.xlsx